In [14]:
import pandas as pd

# Load the data from the Excel file
df = pd.read_excel("C:/Users/tasweemb/Downloads/DBD_PCOM7E Table.xlsx")

pd.set_option('display.max_rows', None)
print(df)

    Student Number   Student Name    Exam Score   Support   Date of Birth    \
0             1001.0      Bob Baker          78.0        No      2001-08-25
1                NaN            NaN           NaN       NaN             NaT
2                NaN            NaN           NaN       NaN             NaT
3             1002.0   Sally Davies          55.0       Yes      1999-10-02
4                NaN            NaN           NaN       NaN             NaT
5                NaN            NaN           NaN       NaN             NaT
6             1003.0   Mark Hanmill          90.0        No      1995-06-05
7                NaN            NaN           NaN       NaN             NaT
8                NaN            NaN           NaN       NaN             NaT
9             1004.0       Anas Ali          70.0        No      1980-08-03
10               NaN            NaN           NaN       NaN             NaT
11               NaN            NaN           NaN       NaN             NaT
12            1005.0      Cheuk Yin          45.0       Yes      2002-05-01
13               NaN            NaN           NaN       NaN             NaT
14               NaN            NaN           NaN       NaN             NaT

       Course Name   Exam Boards   Teacher Name
0   Computer Science           BCS       Mr Jones
1              Maths       EdExcel      Ms Parker
2            Physics           OCR      Mr Peters
3              Maths           AQA      Ms Parker
4            Biology          WJEC      Mrs Patel
5              Music           AQA     Ms Daniels
6   Computer Science           BCS       Mr Jones
7              Maths       EdExcel      Ms Parker
8            Physics           OCR      Mr Peters
9              Maths           AQA      Ms Parker
10           Physics           OCR      Mr Peters
11           Biology          WJEC      Mrs Patel
12  Computer Science           BCS       Mr Jones
13             Maths       EdExcel      Ms Parker
14             Music           AQA     Ms Daniels

In [15]:
# Fill forward to replace NaN values in the columns 'Student Number', 'Student Name', 'Support', and 'Date of Birth'
df[['Student Number  ', 'Student Name  ', 'Support  ', 'Date of Birth  ']] = df[['Student Number  ', 'Student Name  ', 'Support  ', 'Date of Birth  ']].fillna(method='ffill')

# Remove remaining NaN rows
df = df.dropna()

pd.set_option('display.max_rows', None)
print(df)

    Student Number   Student Name    Exam Score   Support   Date of Birth    \
0             1001.0      Bob Baker          78.0        No      2001-08-25
3             1002.0   Sally Davies          55.0       Yes      1999-10-02
6             1003.0   Mark Hanmill          90.0        No      1995-06-05
9             1004.0       Anas Ali          70.0        No      1980-08-03
12            1005.0      Cheuk Yin          45.0       Yes      2002-05-01

       Course Name   Exam Boards   Teacher Name
0   Computer Science           BCS       Mr Jones
3              Maths           AQA      Ms Parker
6   Computer Science           BCS       Mr Jones
9              Maths           AQA      Ms Parker
12  Computer Science           BCS       Mr Jones

In [16]:
# Split the data into two tables: 'students' and 'courses'
students = df[['Student Number  ', 'Student Name  ', 'Support  ', 'Date of Birth  ']].drop_duplicates().reset_index(drop=True)
courses = df[['Student Number  ', 'Course Name  ', 'Exam Score  ', 'Exam Boards  ', 'Teacher Name  ']].reset_index(drop=True)

# Display the data
students, courses

KeyError: "['Course Name\\xa0\\xa0'] not in index"

In [17]:
# Remove trailing white spaces from column names
df.columns = df.columns.str.strip()

# Split the data into two tables: 'students' and 'courses'
students = df[['Student Number', 'Student Name', 'Support', 'Date of Birth']].drop_duplicates().reset_index(drop=True)
courses = df[['Student Number', 'Course Name', 'Exam Score', 'Exam Boards', 'Teacher Name']].reset_index(drop=True)

# Display the data
students, courses

(   Student Number  Student Name Support Date of Birth
 0          1001.0     Bob Baker      No    2001-08-25
 1          1002.0  Sally Davies     Yes    1999-10-02
 2          1003.0  Mark Hanmill      No    1995-06-05
 3          1004.0      Anas Ali      No    1980-08-03
 4          1005.0     Cheuk Yin     Yes    2002-05-01,
    Student Number       Course Name  Exam Score Exam Boards Teacher Name
 0          1001.0  Computer Science        78.0         BCS     Mr Jones
 1          1002.0             Maths        55.0         AQA    Ms Parker
 2          1003.0  Computer Science        90.0         BCS     Mr Jones
 3          1004.0             Maths        70.0         AQA    Ms Parker
 4          1005.0  Computer Science        45.0         BCS     Mr Jones)

In [5]:
# Create a separate table for course details: 'course_details'
course_details = df[['Course Name', 'Exam Boards', 'Teacher Name']].drop_duplicates().reset_index(drop=True)

# Update the 'courses' table to remove 'Exam Boards' and 'Teacher Name'
courses = df[['Student Number', 'Course Name', 'Exam Score']].reset_index(drop=True)

# Display the data
students, courses, course_details

(   Student Number  Student Name Support Date of Birth
 0          1001.0     Bob Baker      No    2001-08-25
 1          1002.0  Sally Davies     Yes    1999-10-02
 2          1003.0  Mark Hanmill      No    1995-06-05
 3          1004.0      Anas Ali      No    1980-08-03
 4          1005.0     Cheuk Yin     Yes    2002-05-01,
    Student Number       Course Name  Exam Score
 0          1001.0  Computer Science        78.0
 1          1002.0             Maths        55.0
 2          1003.0  Computer Science        90.0
 3          1004.0             Maths        70.0
 4          1005.0  Computer Science        45.0,
         Course Name Exam Boards Teacher Name
 0  Computer Science         BCS     Mr Jones
 1             Maths         AQA    Ms Parker)